<div class="container">
  <div class="d-flex flex-wrap" style="overflow-y: auto; height: 20%;">
    <div *ngFor="let photo of apiArr | paginate:config" class="eachDiv">
      <img [src]="photo.url" width="100px" height="100px">
      <div class="title">{{photo.title}}</div>
      <div>{{photo.id}}</div>
      <div class="photourl">{{photo.url}}</div>
      <button class="btn btn-primary" (click)="onChange(photo)">{{photo.btnName}}</button>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <pagination-controls (pageChange)="config.currentPage = $event"></pagination-controls>
  </div>
 
  <table class="table table-bordered mt-1">
    <thead>
      <tr>
        <th>photo</th>
        <th>ID</th>
        <th>URL</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <td colspan="4" *ngIf="tabledata.length==0">
        <p>No Records Found !</p>
      </td>
      <tr *ngFor="let b of tabledata">
        <td><img [src]="b.url" width="20px" height="20px"> </td>
        <td>{{b.id}}</td>
        <td>{{b.url}}</td>
        <td>{{b.title}}</td>
      </tr>
    </tbody>
  </table>
</div>